*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: "Exo 2";
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Exo_2/Exo2-Regular.ttf);
}

@font-face {
  font-family: "Exo 2";
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/Exo_2/Exo2-Bold.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #4f4f4f;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  background-color: #373737;
}

.nav__inner {
  min-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 3.2rem;
}

.nav__link {
  font-size: 1.4rem;
  color: #818181;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link--icon {
  width: .7rem;
  height: 1.1rem;
  margin-right: 0.5rem;
}

.nav__link:hover {
  color: #f1f1f1;
}

.header__top {
  border-bottom: 1px solid #eaeaea;
}

.header__top--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10.8rem;
}

.header__top--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-top: -26px;
  text-transform: uppercase;
  color: #cd3378;
  font-size: 3.7rem;
  font-weight: 700;
  font-family: "Exo 2";
  width: 9.6rem;
  line-height: 3.5rem;
  text-indent: -2px;
}

.header__logo--top {
  text-align: center;
  padding-top: 1.5rem;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 2rem;
  padding-top: 27px;
  background: #cd3378;
  text-indent: 0;
}

.header__text {
  color: #818181;
  margin-left: 3.9rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 23rem;
  line-height: 1.7rem;
}

.header__phone {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #818181;
}

.header__phone a {
  display: block;
  font-size: 2.2rem;
  font-weight: 700;
  color: #545455;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 0.5rem;
}

.header__phone a:hover {
  color: #b8b8b8;
}

.header__button {
  margin-left: 4.5rem;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 700;
  padding: 1.15rem 1.5rem;
  background-color: #cd3378;
  border-radius: 6px;
  border: 2px solid #cd3378;
  -webkit-transition: .3s;
  transition: .3s;
}

.button:hover {
  color: #cd3378;
  background: #ffffff;
}

.menu {
  font-family: "Exo 2";
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #eaeaea;
}

.menu__inner {
  max-width: 100%;
  height: 8.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3.3rem;
}

.menu__item:hover .menu__icon {
  fill: #f89ec6;
  stroke: #f89ec6;
}

.menu__icon {
  height: 2.8rem;
  width: 3.5rem;
  margin-right: 1.5rem;
  fill: #e0e0e0;
  stroke: #e0e0e0;
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel__inner {
  height: 550px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.carousel__image {
  width: 100%;
  min-height: 551px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel__content {
  width: 750px;
  height: 174px;
  padding: 45px 15px 0;
  -webkit-box-shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
          box-shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
  background-color: #fbfbfb;
  position: absolute;
  top: 377px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
}

.carousel__title {
  font-family: "Exo 2";
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #545455;
}

.carousel__subtitle {
  font-weight: 400;
  color: #818181;
  margin-top: 1.3rem;
}

.carousel__dots {
  width: 100%;
  position: relative;
  bottom: 32px;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 6px;
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #cd3378;
  border-color: #cd3378;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes fade {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}

.section {
  padding: 4.5rem 0;
  border-bottom: 1px solid #eaeaea;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__item {
  display: block;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.card__item:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(209, 82, 139, 0.9)), to(transparent));
  background: linear-gradient(90deg, rgba(209, 82, 139, 0.9) 40%, transparent 100%);
}

.card__item:first-child, .card__item:last-child {
  margin: 0;
}

.card__item:hover {
  -webkit-box-shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
          box-shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
}

.card__item--wide {
  width: 589px;
}

.card__item--wide .card__content {
  top: 27%;
}

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 43%;
  z-index: 1;
}

.card__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Exo 2";
  padding-left: 4rem;
  color: #ffffff;
  padding-bottom: 1.7rem;
  border-bottom: 2px solid #ffffff;
}

.card__title--no-border {
  padding-bottom: 0;
  border: 0;
  font-family: "Exo 2";
  font-size: 1.8rem;
}

.card__icon {
  width: 59px;
  height: auto;
  display: block;
  margin-left: 4.2rem;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=main.css.map */