@import "vendor/reset";
@import "fonts";
@import "vendor/owl.carousel";

$exo-2: "Exo 2", sans-serif;
$roboto: "Roboto", sans-serif;

$black: #000000;
$white: #ffffff;

$blue: #23b3d2;

$grey-900: #373737;
$grey-850: #4f4f4f;
$grey-800: #545455;
$grey-700: #818181;
$grey-650: #b8b8b8;
$grey-600: #c5c5c5;
$grey-550: #d1d1d1;
$grey-500: #dbdbdb;
$grey-450: #e0e0e0;
$grey-400: #eaeaea;
$grey-350: #f1f1f1;
$grey-200: #f4f4f4;

$pink: #cd3378;
$pink-lighter:#d1528b;
$pink-lightest: #f89ec6;

$shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
$border: 1px solid $grey-400;
$gradient: linear-gradient(90deg, rgba($pink-lighter , 0.9) 40%, transparent 100%);


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $roboto;
  font-size: 1.6rem;
  color: $grey-850;
  line-height: 1;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  background-color: $grey-900;

  &__inner {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 3.2rem;
  }

  &__link {
    font-size: 1.4rem;
    color: $grey-700;
    transition: .3s;

    &--icon {
      width: .7rem;
      height: 1.1rem;
      margin-right: 0.5rem
    }

    &:hover {
      color: $grey-350;
    } 
  }
}

.header {
  position: relative;
  margin: auto;

  &__top {
    border-bottom: $border;

    &--inner {
      display: flex;
      justify-content: space-between;
      min-height: 10.8rem;
    }

    &--wrap {
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    position: relative;
    top: -13px;
    margin-right: 3.9rem;
    text-transform: uppercase;
    color: $pink;
    font-size: 3.7rem;
    font-weight: 700;
    font-family: $exo-2;
    width: 9.6rem;
    line-height: 3.5rem;
    text-indent: -2px;

    &--top {
      text-align: center;
      padding-top: 1.5rem;
      color: $white;
      font-size: 2.5rem;
      line-height: 2rem;
      padding-top: 27px;
      background: $pink;
      text-indent: 0;
    }
  }

  &__text {
    color: $grey-700;
    align-self: center;
    max-width: 23rem;
    line-height: 1.7rem;
  }

  &__phone {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $grey-700;

    a {
      display: block;
      font-size: 2.2rem;
      font-weight: 700;
      color: $grey-800;
      transition: .3s;
      margin-bottom: 0.5rem;

      &:hover {
        color: $grey-650;
      }
    }
  }

  &__button {
    margin-left: 4.5rem;
  }

  // carousel styles
  &__image {
    width: 100%;
    min-height: 552px;
    object-fit: cover;
  }

  &__content {
    width: 750px;
    max-width: 90%;
    min-height: 178px;
    padding: 45px 15px 0;
    box-shadow: $shadow;
    background-color: #fbfbfb;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
  }

  &__title {
    font-family: $exo-2;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: $grey-800;
  }

  &__subtitle {
    font-weight: 400;
    color: $grey-700;
    margin-top: 1.3rem;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: $white;
  font-weight: 700;
  background-color: $pink;
  border-radius: 6px;
  border: 2px solid $pink;
  transition: .3s;

  &:hover {
    color: $pink;
    background: $white;
  }

  padding: 0.85rem 0;

  &--large {
    padding: 1.15rem 1.5rem;
  }
}

.menu {
  font-family: $exo-2;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: $border;

  &__inner {
    max-width: 100%;
    min-height: 8.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 3.3rem;

    &:hover {
      .menu__icon {
        fill: $pink-lightest;
        stroke: $pink-lightest;
      }
    }
  }

  &__icon {
    height: 2.8rem;
    width: 3.5rem;
    margin-right: 1.5rem;
    fill: $grey-450;
    stroke: $grey-450;
    transition: .3s;
  }
}

.owl-dots {
  width: 100%;
  position: relative;
  bottom: 36px;
  text-align: center;
}

.owl-dot {
  span {
    height: 10px;
    width: 10px;
    margin: 0 6px;
    background-color: $white;
    border: 1px solid $grey-500;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  &.active {
    span {
      background-color: $pink;
      border-color: $pink;
    }
  }
}

.section {
  padding: 5.95rem 0;
  border-bottom: $border;

  &:first-child {
    padding-top: 4rem;
  }

  &__title {
    font-family: $exo-2;
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: -.6rem;
    margin-bottom: 3.6rem;
    text-indent: -2px;

    &--center {
      text-transform: uppercase;
      font-family: $exo-2;
      font-size: 2.5rem;
      line-height: 1;
      color: $white;
      text-align: center;
      margin-top: -0.5rem;
      margin-bottom: 3.8rem;
    }
  }

  &--highlighted {
    background: $blue;
    border: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;

  &__item {
    display: block;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: .3s;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $gradient;
    }

    &--wide {
      width: 589px;
  
      .card__content {
        top: 27%;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      box-shadow: $shadow;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 43%;
    z-index: 1;
    
  }

  &__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: $exo-2;
    padding-left: 4rem;
    color: $white;
    padding-bottom: 1.7rem;
    border-bottom: 2px solid $white;
    
    &--no-border {
      padding-bottom: 0;
      border: 0;
      font-family: $exo-2;
      font-size: 1.8rem;
    }
  }

  &__icon {
    width: 59px;
    height: auto;
    display: block;
    margin-left: 4.2rem;
    margin-bottom: 1.5rem;
  }
}

.product {
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: 215px;
    max-width: 100%;
    height: 37rem;
    background: $grey-200;
    border-radius: 5px;
    position: relative;

    &:hover {
      .product__content {
        opacity: 1;
      }

      .product__title {
        opacity: 0;
      }
    }
  }

  &__image {
    margin: 3rem 2rem 2.3rem;
    width: 86px;
    height: 223px;
    max-width: 100%;
  }

  &__title {
    padding: 2.7rem 1.5rem 2.9rem;
    border-top: 2px solid $pink-lighter;
    font-family: $exo-2;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.1;
    transition: .3s;
  }

  &__content {
    padding: 3.7rem 1.9rem 3rem;
    background: rgba($black, 0.73);
    opacity: 0;
    width: 100%;
    height: 100%;
    color: $white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__desc {
    text-align: left;
    line-height: 2rem;
  }

  &__order {
    margin: 0 1.5rem;
  }

  &__price {
    margin-bottom: 2.7rem;

    &--number {
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  &__button {
    width: 100%;
  }
}

.main {
  padding-left: 2.7rem;
  width: 100%;
  height: 7.6rem;
  max-width: 100rem;
  border-left: 3px solid $pink;
  margin-bottom: 5.3rem;

  &__title {
    position: relative;
    top: -12px;
    font-size: 4rem;
    line-height: 4.8rem;
    font-family: $exo-2;
    font-weight: 400;
  }
}

.text-block {
  display: flex;
  justify-content: space-between;
  align-items: start;

  &__item {
    width: 575px;

    &:not(:first-child) {
      margin-left: 2.5rem;
    }
  }
}

.text {
  line-height: 2.2rem;
  font-size: 1.6rem;
}

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__item {
    margin-top: 1.3rem;
    margin-bottom: -0.2rem;
    text-align: center;
    width: 230px;
    margin-right: 7rem;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    margin-top: 3.3rem;
    text-transform: uppercase;
    color: $grey-800;
    font-family: $exo-2;
    position: relative;

    &:before {
      content: "";
      width: 3.7rem;
      height: 2px;
      background: $pink-lighter;
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.reviews {
  
  &__item {
    max-width: 255px;
    padding: 2.8rem 2.4rem;
    background: $grey-200;
    color: $grey-700;
    border-radius: 5px;
  }

  &__author {
    font-weight: 700;
    margin-top: 1.5rem;
  }
}

.owl {

  &-nav {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }

  &-prev {
    position: absolute;
    left: -5%;
  }

  &-next {
    position: absolute;
    right: -5%;
  }

  &-carousel {
    &--reviews {
      max-width: 90%;
      margin: 0 auto;
    }

    &--portfolio {
      width: 93%;
      margin: 0 auto;

      & .owl-prev {
        left: -3.2%;
      }

      & .owl-next {
        right: -3.2%;
      }
    }
  }
}

.arrow {
  display: inline-block;
  width: 2.8rem;
  height: 2.8rem;
  border-top: 3px solid $grey-550;
  border-right: 3px solid $grey-550;
  transition: .3s;

  &--small {
    width: 2.2rem;
    height: 2.2rem;
  }

  &--right {
    transform: rotate(45deg);
  }

  &--left {
    transform: rotate(-135deg);
  }

  &:hover {
    border-color: $pink-lighter;
  }
}

.partners {
  display: flex;
  justify-content: space-between;

  &--wrap {
    display: flex;
    justify-content: space-between;
    max-width: 570px;
    position: relative;
    top: -2.2rem;
  }

  &__image {
    object-fit: contain;
  }
}

.portfolio {
  width: 93.33333%;
  margin: 0 auto;
  &__item {
    width: 100%;
  }

  &__image {
    width: 209px;
    height: 143px;
    object-fit: cover;
  }

  
}

.form {
  display: flex;
  flex-direction: column;
  width: 85rem;
  max-width: 100%;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
  }

  &__input {
    margin: 0 10px;
    width: 100%;
    height: 3.8rem;
    border-radius: 2px;
    padding: 1.3rem 1.4rem;
    font-size: 1.6rem;
    
    &::placeholder {
      color: $grey-600;
    }

    &--textarea {
      width: 100%;
      height: 9.8rem;
      margin: 2rem 0 0;
      resize: vertical;
    }
  }

  &__submit {
    width: 14.7rem;
    margin: 3rem auto 0;
  }
}

.footer {
  padding: 4.5rem 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    color: $grey-650;
    font-size: 1.4rem;
  }

  &--right {
    text-align: right;

    .footer__item {
      margin-bottom: 1.4rem;
    }
  }

  &__item {
    margin-bottom: 2.1rem;

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    transition: .3s;

    &--number {
      font-size: 1.8rem;
      font-weight: 700;
    }

    &:hover {
      color: $grey-850;
    }
  }
}

@import "responsive";