@import "vendor/_reset";
@import "vendor/_fonts";

$black: #000000;
$white: #ffffff;

$blue: #23b3d2;

$grey-900: #373737;
$grey-850: #4f4f4f;
$grey-800: #545455;
$grey-750: #707070;
$grey-700: #818181;
$grey-650: #b8b8b8;
$grey-600: #c5c5c5;
$grey-550: #d1d1d1;
$grey-500: #dbdbdb;
$grey-450: #e0e0e0;
$grey-400: #eaeaea;
$grey-350: #f1f1f1;
$grey-300: #f2f2f2;
$grey-250: #f3f3f3;
$grey-200: #f4f4f4;

$pink: #cd3378;
$pink-light: #ce4180;
$pink-lighter:#d1528b;
$pink-lightest: #f89ec6;

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $grey-850;
}